$color-dark-blue: #1c2a46;
$color-medium-blue: #213152;
$color-cream: #fcfbf7;
$color-yellow: #f1b43e;
$color-gray: #b8b8b8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:focus {
  outline: 0;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  width: auto;
}

iframe {
  border: 0;
  max-width: 100%;
}

.clear:after {
  display: block;
  clear: both;
  content: "";
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: $color-dark-blue;
  color: $color-cream;
}

p {
  line-height: 1.4;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-weight: 500;
}

h1 {
  font-size: 26px;
  padding-bottom: 10px;
}

h2 {
  font-size: 22px;
  color: $color-yellow;
}

h3 {
  font-size: 15px;
  font-weight: 400;
  color: $color-gray;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  position: relative;

  .sidebar {
    width: 260px;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -525px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      background-color: $color-medium-blue;
      border-radius: 24px;
      padding: 30px;

      h1 {
        padding-bottom: 0;
      }

      .photo {
        img {
          border-radius: 50%;
        }
      }

      .info {
        text-align: center;

        .social-icons {
          display: flex;
          justify-content: center;
          gap: 12px;
          padding-top: 15px;

          .icon {
            a {
              font-size: 20px;
              display: block;
              text-decoration: none;
              height: 40px;
              width: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $color-dark-blue;
              border-radius: 50%;
              color: $color-cream;
              transition: color 0.3s ease;
            }

            &:hover {
              a {
                color: $color-yellow;
              }
            }
          }
        }
      }
    }
  }

  main {
    margin-left: 300px;
    margin-top: 25px;

    section {
      padding-bottom: 25px;

      &.skills {
        ul.tags {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          li {
            padding: 5px 10px;
            background-color: $color-medium-blue;
            color: $color-yellow;
            border-radius: 4px;

            &:last-child {
              background-color: transparent;
            }
          }
        }
      }

      &.experience {
        .position {
          padding-bottom: 25px;

          h2 {
            padding-bottom: 2px;
          }

          h3 {
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .container {
    max-width: none;

    .sidebar {
      width: 100%;
      position: relative;
      margin-left: 0;
      top: auto;
      left: auto;
    }

    main {
      margin-left: 0;
    }
  }
}
